<%= error_messages_for 'webform' %>

<div class="box tabular">
  <p><%= f.text_field :title, :required => true %></p>
  <p><%= f.text_area :description, :rows => 8, :class => 'wiki-edit', :label => l(:label_string) %></p>
  <%= wikitoolbar_for 'webform_description' %>
  <p><%= f.text_field :identifier, :required => true %></p>
  <p><%= f.text_area :functions, :rows => 4, :label =>  l(:field_functions) + " (" + l(:label_optional) + ")" %></p>
  <p><%= f.text_area :ready, :rows => 4, :label =>  l(:field_ready) + " (" + l(:label_optional) + ")" %></p>
  <p><%= f.text_area :submit, :rows => 4, :label =>  l(:field_onsubmit) + " (" + l(:label_optional) + ")" %></p>
  <fieldset id="webform_options">
    <%= render :partial => 'options' %>
  </fieldset>
  <fieldset id="webform_options">
    <legend><%= l(:label_add_user_to) %></legend>
    <p><%= f.select :role_id, options_for_select(@roles, :selected => @webform.role_id), {:include_blank => l(:label_none), :label => :label_role} %></p>
    <p><%= f.select :group_id, options_for_select(@groups, :selected => @webform.group_id), {:include_blank => l(:label_none), :label => :label_group} %></p>
  </fieldset>
  <%= call_hook(:view_webform_form, :webform => @webform) %>
</div>

<div class="box tabular webform_custom_field_values">
  <div id="custom_fields">
    <%= render :partial => 'webform_custom_field_values' %>
  </div>
  <%= link_to l(:label_custom_field_new), "", :class => 'icon icon-add', :onclick => 'addCustomField(); renumber_list(".webform_custom_field_values"); updateWebformCustomField($(".webform_custom_field_values select").last()); return false;' %>
</div>

<div class="box tabular sortable_webform_questions">
  <% n = 1 %>
  <div id="webform_questions">
    <% @webform.webform_questions.each do |q| %>
      <%= render :partial => 'webform_question', :locals => {:q => q, :n => n} %>
      <% n += 1 %>
    <% end %>
  </div>
  <%= link_to l(:label_webform_question_new), "", :class => 'icon icon-add', :onclick => 'addWebformQuestion(); renumber_list(".sortable_webform_questions"); updateFields(); return false;' %>
</div>

<%= javascript_tag do %>
  function addWebformQuestion() {
    $("<%= escape_javascript render :partial => 'webform_question', :locals => {:q => WebformQuestion.new, :n => n} %>").appendTo('#webform_questions')
  };

  function addCustomField() {
    $("<%= escape_javascript render :partial => 'webform_custom_field_value', :locals => {:wcfv => WebformCustomFieldValue.new, :n => n} %>").appendTo('#custom_fields')
  };

  function updateFields() {
    return $.ajax({
      url: '<%= escape_javascript url_for(:action => 'update_selects', :format => 'js') %>',
      type: 'post',
      data: $('#webform_options').serialize() + '&' + $('#custom_fields fieldset').each(function(index){prefix = "webform_custom_field_values[" + index + "]";$(this).find('[name]').each(function(){this.name = this.name.replace(/webform_custom_field_values/, prefix);})}).find('[name]').serialize()
    });
  }

  function updateWebformCustomField(el) {
    el=$(el).closest('fieldset');
    $(el).find('[name]').each(function(){
      this.name = this.name.replace(/\[/, '[0][');
    });
    return $.ajax({
      url: '<%= escape_javascript url_for(:action => 'update_custom_field', :format => 'js') %>',
      type: 'post',
      data: $('#webform_options').serialize() + '&' + $(el).serialize() + '&n=' + $('#custom_fields fieldset').index($(el))
    });
  }

  $('.sortable_webform_questions').sortable({
    items:'fieldset',
    start: function(event, ui) {
      ui.placeholder.height(ui.item.height())
    },
    stop: function(event, ui) {
      renumber_list('.sortable_webform_questions')
    }
  });

  $('.webform_custom_field_values').sortable({
    items:'fieldset',
    start: function(event, ui) {
      ui.placeholder.height(ui.item.height())
    },
    stop: function(event, ui) {
      renumber_list('.webform_custom_field_values')
    }
  });

  function renumber_list(el) {
    $(el + " .number").each(function(index) {
      $(this).text(index + 1)
    });
  }

  function number_list() {
    $("#webform_questions fieldset").each(function(index) {
      prefix = "webform_questions[" + index + "]";
      $(this).find('[name]').each(function(){
        this.name = this.name.replace(/webform_questions/, prefix);
      })
    });
    $("#custom_fields fieldset").each(function(index) {
      prefix = "webform_custom_field_values[" + index + "]";
      $(this).find('[name]').each(function(){
        this.name = this.name.replace(/webform_custom_field_values/, prefix);
      })
    });
  }
<% end %>
