<fieldset>
  <%= labelled_fields_for :questions, q do |f| %>
    <legend><%= l(:label_question) %> <span class="number"><%= n %></span> <img class="delete icon-only icon-del" title="<%= l(:button_delete) %>" onclick="$(this).parent().parent().remove(); renumber_list();"/></legend>
    <p><%= f.text_area :description, :rows => 3, :class => 'wiki-edit' %></p>
    <div class="splitcontent">
      <div class="splitcontentleft">
        <p><%= f.select :custom_field_id, options_for_select(@custom_fields, :selected => q.custom_field_id), {:include_blank => true, :label => :label_custom_field} %></p>
        <p>
          <%= f.text_area :possible_values, :cols => 60, :value => q.possible_values.to_a.join("\n"), :rows => 5 %>
          <em class="info"><%= l(:text_custom_field_possible_values_info) + " (" + l(:label_optional) + ")" %></em>
        </p>
      </div>
      <div class="splitcontentright">
        <p><%= f.text_field :identifier %></p>
        <p><%= f.text_area :onchange, :cols => 60, :rows => 4 %></p>
        <p><%= f.check_box :hidden %></p>
      </div>
    </div>
  <% end %>
</fieldset>
