<div class="contextual">
<%= link_to l(:label_webform_new), new_webform_path, :class => 'icon icon-add' %>
</div>

<h2><%=l(:label_webform_plural)%></h2>

<table class="list trackers">
  <thead><tr>
  <th><%=l(:field_title)%></th>
  <th><%=l(:field_project)%></th>
  <th><%=l(:label_tracker)%></th>
  <th><%=l(:field_default_status)%></th>
  <th><%=l(:label_group)%></th>
  <th><%=l(:label_role)%></th>
  <th><%=l(:label_adds_user)%></th>
  <th></th>
  </tr></thead>
  <tbody>
<% for webform in @webforms %>
  <tr>
  <td class="name"><%= link_to webform.title, edit_webform_path(webform) %></td>
  <td class="project"><%= webform.project %></td>
  <td class="tracker"><%= webform.tracker %></td>
  <td class="status"><%= webform.issue_status %></td>
  <td class="group"><%= webform.group %></td>
  <td class="role"><%= webform.role %></td>
  <td><%= checked_image webform.validate_webform(nil) %></td>
  <td class="buttons">
    <%= link_to l(:button_view), webform_path(webform), {:class => 'icon icon-document'}  %>
    <%= delete_link webform_path(webform) %>
  </td>
  </tr>
<% end %>
  </tbody>
</table>

<% html_title(l(:label_webform_plural)) -%>
