<h2><%= @webform.title %></h2>

<%= error_messages_for 'webform', 'issue' %>

<% content_for :header_tags do -%>
  <%= stylesheet_link_tag "web_forms.css", :plugin => :redmine_web_forms %>
<% end -%>

<% if @webform.description.present? %>
  <div class="wiki">
    <%= textilizable @webform.description %>
  </div>
<% end %>

<% values=@issue.custom_field_values.map{|x| [x.custom_field.id, x]}.to_h %>
<%= labelled_form_for @issue, :url => { :action => "new_issue" } do |f| %>

  <%= f.hidden_field :author, {:value => @issue.author.name, :id => 'author_name', :name => ''  } %>
  <%= f.hidden_field :mail, {:value => @issue.author.mail, :id => 'author_mail', :name => ''  } %>
  <% @issue.author.custom_values.each do |c| %>
    <%= f.hidden_field c, {:value => c.value, :id => 'author_cf_' + c.custom_field.name, :name => ''  } %>
  <% end %>
  <% @webform.webform_custom_field_values.each do |w| %>
    <% if w.custom_field.present? || [-1,-2,-3,-4,-5,-6,-7].include?(w.custom_field_id) %>
      <% if w.custom_field_id == -1 && @issue.safe_attribute?('assigned_to_id') # assigned_to %>
        <%= f.hidden_field :assign_to_id, {:value => w.default_value, :id => w.identifier} %>
      <% elsif w.custom_field_id == -2 && @issue.safe_attribute?('category_id') # category %>
        <%= f.hidden_field :category_id, {:value => w.default_value, :id => w.identifier} %>
      <% elsif w.custom_field_id == -3 && @issue.safe_attribute?('description') # description %>
        <%= f.hidden_field :description, {:value => w.default_value, :id => w.identifier} %>
      <% elsif w.custom_field_id == -4 # subject %>
        <%= f.hidden_field :subject, {:value => w.default_value, :id => w.identifier} %>
      <% elsif w.custom_field_id == -5 && @issue.safe_attribute?('fixed_version_id') # fixed_version %>
        <%= f.hidden_field :fixed_version_id, {:value => w.default_value, :id => w.identifier} %>
      <% elsif w.custom_field_id == -6 && @issue.safe_attribute?('priority_id') # priority %>
        <%= f.hidden_field :priority_id, {:value => w.default_value, :id => w.identifier} %>
      <% elsif w.custom_field_id == -7 && @issue.safe_attribute?('parent_id') # parent_id %>
        <%= f.hidden_field :parent_id, {:value => w.default_value, :id => w.identifier} %>
      <% elsif @issue.safe_attribute? 'custom_field_values'  %>
        <%= hidden_field_tag "issue[custom_field_values][#{w.custom_field_id}]", w.default_value, { :id => w.identifier } if w.custom_field.present? %>
      <% end %>
    <% else %>
      <%= hidden_field_tag '', w.default_value, { :id => w.identifier } %>
    <% end %>
  <% end %>

  <% @webform.questions.each do |q| %>
    <div class="box" <%= q.hidden? ? 'style="display: none;"'.html_safe : '' %>>
      <% if q.custom_field.present? || [-1,-2,-3,-4,-5,-6,-7].include?(q.custom_field_id) # assigned_to %>
        <% if q.custom_field_id == -1 && @issue.safe_attribute?('assigned_to_id') %>
          <p><%= f.select :assigned_to_id, principals_options_for_select(@issue.assignable_users, @issue.assigned_to),
                          {:include_blank => true, :label => q.description, :required => @issue.required_attribute?('assigned_to_id') || q.required},
                          {:id => q.identifier, :onchange => q.onchange} %></p>
        <% elsif q.custom_field_id == -2 && @issue.safe_attribute?('category_id') # category %>
          <p><%= f.select :category_id, (@issue.project.issue_categories.collect {|c| [c.name, c.id]}),
                          {:include_blank => true, :label => q.description, :required => @issue.required_attribute?('category_id') || q.required},
                          {:id => q.identifier, :onchange => q.onchange} %></p>
        <% elsif q.custom_field_id == -3 && @issue.safe_attribute?('description') # description %>
          <% id = q.identifier.present? ? q.identifier : 'issue_description' %>
          <p><%= f.text_area :description, :cols => 60, :accesskey => accesskey(:edit), :class => 'wiki-edit',
                             :rows => [[10, @issue.description.to_s.length / 50].max, 20].min,
                             :label => q.description, :id => id, :onchange => q.onchange,
                             :required => @issue.required_attribute?('description') || q.required %></p>
          <%= wikitoolbar_for id, preview_issue_path(:project_id => @issue.project, :issue_id => @issue.id) %>
        <% elsif q.custom_field_id == -4 # subject %>
          <p><%= f.text_field :subject, :size => 80, :maxlength => 255, :label => q.description, :id => q.identifier,
                              :required => true, :onchange => q.onchange %></p>
        <% elsif q.custom_field_id == -5 && @issue.safe_attribute?('fixed_version_id') # fixed_version %>
          <p><%= f.select :fixed_version_id, (@issue.project.versions.collect{|c| [c.name, c.id]}),
                          {:label => q.description, :include_blank => true, :required => @issue.required_attribute?('fixed_version_id') || q.required},
                          {:id => q.identifier, :onchange => q.onchange} %></p>
        <% elsif q.custom_field_id == -6 && @issue.safe_attribute?('priority_id') # priority %>
          <p><%= f.select :priority_id, (@priorities.collect{|c| [c.name, c.id]}),
                          {:label => q.description}, {:id => q.identifier, :onchange => q.onchange} %></p>
        <% elsif q.custom_field_id == -7 # parent_id %>
          <p><%= f.number_field :parent_id, :size => 80, :maxlength => 255, :label => q.description, :id => q.identifier,
                              :onchange => q.onchange %></p>
        <% elsif (@issue.safe_attribute? 'custom_field_values') && q.custom_field.present? %>
          <% id = q.identifier.present? ? q.identifier : custom_field_tag_id(:issue, q.custom_field) %>
          <% values[q.custom_field_id].custom_field.is_required |= q.required %>
          <p><%= custom_field_tag_with_label(:issue, values[q.custom_field_id]).
            gsub(/ id="(.+?)"/, ' id="' + id + '" onchange="' + q.onchange + '"' ).html_safe %></p>
          <%= wikitoolbar_for id if q.custom_field.present? && q.custom_field.full_text_formatting? %>
        <% end %>
      <% elsif (q.custom_field_id.nil?) %>
        <p><%= q.description %><%= q.required ? " <span class=\"required\">*</span>".html_safe : "" %></p>
        <% if q.possible_values.present? %>
          <p><%= select_tag '',
                   options_for_select(q.possible_values.insert(0, q.required ? "--- #{l(:actionview_instancetag_blank_option)} ---" : ''), @questions[q.id]),
                   :id => q.identifier, :onchange => q.onchange, :required => q.required, :name => "questions[#{q.id}]" %></p>
        <% else %>
          <p><%= text_area_tag '', @questions[q.id], :id => q.identifier, :onchange => q.onchange, :cols => 60, :class => 'wiki-edit', :rows => 3,
                   :label => q.description, :required => q.required, :name => "questions[#{q.id}]" %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if @webform.can_add_attachments(User.current) && @webform.allow_attachments %>
    <div class="box filedroplistener">
      <p id="attachments_form"><label><%= l(:label_attachment_plural) %></label><%= render :partial => 'attachments/form', :locals => {:container => @issue} %></p>
    </div>
  <% end %>
  <%= submit_tag l(:button_save) %>
<% end %>
<%= javascript_tag do %>
$(document).ready(function() {<%= @webform.ready.html_safe %>});
$('#new_issue').submit(function() {<%= @webform.submit.html_safe %>});
<% end %>
