<h2><%= @webform.title %></h2>

<%= error_messages_for 'webform', 'issue' %>

<% content_for :header_tags do -%>
  <%= stylesheet_link_tag "web_forms.css", :plugin => :redmine_web_forms %>
<% end -%>

<% if @webform.description.present? %>
  <div class="wiki">
    <%= textilizable @webform.description %>
  </div>
<% end %>

<% values=@issue.custom_field_values.map{|x| [x.custom_field.id, x]}.to_h %>
<%= labelled_form_for @issue, :url => { :action => "new_issue" } do |f| %>

  <%= f.hidden_field :author, {:value => @issue.author.name, :id => 'author_name', :name => ''  } %>
  <%= f.hidden_field :mail, {:value => @issue.author.mail, :id => 'author_mail', :name => ''  } %>
  <% @issue.author.custom_values.each do |c| %>
    <%= f.hidden_field c, {:value => c.value, :id => 'author_cf_' + c.custom_field.id.to_s, :name => ''  } %>
  <% end %>
  <% @webform.webform_custom_field_values.each do |w| %>
    <% if w.custom_field.present? || [-1,-2,-3,-4,-5,-6,-7,-8,-9,-10].include?(w.custom_field_id) %>
      <% if w.custom_field_id == -1 && @issue.safe_attribute?('assigned_to_id') # assigned_to %>
        <%= f.hidden_field :assign_to_id, {:value => w.default_value, :id => w.identifier} %>
      <% elsif w.custom_field_id == -2 && @issue.safe_attribute?('category_id') # category %>
        <%= f.hidden_field :category_id, {:value => w.default_value, :id => w.identifier} %>
      <% elsif w.custom_field_id == -3 && @issue.safe_attribute?('description') # description %>
        <%= f.hidden_field :description, {:value => w.default_value, :id => w.identifier} %>
      <% elsif w.custom_field_id == -4 # subject %>
        <%= f.hidden_field :subject, {:value => w.default_value, :id => w.identifier} %>
      <% elsif w.custom_field_id == -5 && @issue.safe_attribute?('fixed_version_id') # fixed_version %>
        <%= f.hidden_field :fixed_version_id, {:value => w.default_value, :id => w.identifier} %>
      <% elsif w.custom_field_id == -6 && @issue.safe_attribute?('priority_id') # priority %>
        <%= f.hidden_field :priority_id, {:value => w.default_value, :id => w.identifier} %>
      <% elsif w.custom_field_id == -7 && @issue.safe_attribute?('parent_issue_id') # parent_issue_id %>
        <%= f.hidden_field :parent_issue_id, {:value => w.default_value, :id => w.identifier} %>
      <% elsif w.custom_field_id == -8 && @issue.safe_attribute?('start_date') # start_date %>
        <%= f.hidden_field :start_date, {:value => w.default_value, :id => w.identifier} %>
      <% elsif w.custom_field_id == -9 && @issue.safe_attribute?('due_date') # due_date %>
        <%= f.hidden_field :due_date, {:value => w.default_value, :id => w.identifier} %>
      <% elsif w.custom_field_id == -10 && @issue.safe_attribute?('done_ratio') # done_ratio %>
        <%= f.hidden_field :done_ratio, {:value => w.default_value, :id => w.identifier} %>
      <% elsif @issue.safe_attribute? 'custom_field_values'  %>
        <%= hidden_field_tag "issue[custom_field_values][#{w.custom_field_id}]", w.default_value, { :id => w.identifier } if w.custom_field.present? %>
      <% end %>
    <% else %>
      <%= hidden_field_tag '', w.default_value, { :id => w.identifier } %>
    <% end %>
  <% end %>

  <% @webform.webform_questions.each do |q| %>
    <div class="box" <%= q.hidden? ? 'style="display: none;"'.html_safe : '' %>>
      <% if q.custom_field.present? || [-1,-2,-3,-4,-5,-6,-7,-8,-9,-10].include?(q.custom_field_id) %>
        <% if q.custom_field_id == -1 && @issue.safe_attribute?('assigned_to_id') # assigned_to %>
          <% q.description = l(:field_assigned_to) unless q.description.present? %>
          <div class="wiki"><%= textilizable q.description + (@issue.required_attribute?('assigned_to_id') ||
            q.required ? ' *' : '') %></div>
          <%= f.select :assigned_to_id, principals_options_for_select(@issue.assignable_users, @issue.assigned_to),
                       {:include_blank => true, :label => ''},
                       {:id => q.identifier, :onchange => q.onchange} %>
        <% elsif q.custom_field_id == -2 && @issue.safe_attribute?('category_id') # category %>
          <% q.description = l(:field_category) unless q.description.present? %>
          <div class="wiki"><%= textilizable q.description + (@issue.required_attribute?('category_id') ||
            q.required ? ' *' : '') %></div>
          <%= f.select :category_id, (@issue.project.issue_categories.collect {|c| [c.name, c.id]}),
                       {:include_blank => true, :label => ''},
                       {:id => q.identifier, :onchange => q.onchange} %>
        <% elsif q.custom_field_id == -3 && @issue.safe_attribute?('description') # description %>
          <% q.description = l(:field_description) unless q.description.present? %>
          <div class="wiki"><%= textilizable q.description + (@issue.required_attribute?('description') ||
            q.required ? ' *' : '') %></div>
          <% id = q.identifier.present? ? q.identifier : 'issue_description' %>
          <%= f.text_area :description, :cols => 60, :accesskey => accesskey(:edit), :class => 'wiki-edit',
                       :rows => [[10, @issue.description.to_s.length / 50].max, 20].min,
                       :label => '', :id => id, :onchange => q.onchange %>
          <%= wikitoolbar_for id, preview_issue_path(:project_id => @issue.project, :issue_id => @issue.id) %>
        <% elsif q.custom_field_id == -4 # subject %>
          <% q.description = l(:field_subject) unless q.description.present? %>
          <div class="wiki"><%= textilizable q.description + (@issue.required_attribute?('subject') ||
            q.required ? ' *' : '') %></div>
          <%= f.text_field :subject, :size => 80, :maxlength => 255, :label => '', :id => q.identifier,
                           :onchange => q.onchange %>
        <% elsif q.custom_field_id == -5 && @issue.safe_attribute?('fixed_version_id') # fixed_version %>
          <% q.description = l(:field_fixed_version) unless q.description.present? %>
          <div class="wiki"><%= textilizable q.description + (@issue.required_attribute?('fixed_version_id') ||
            q.required ? ' *' : '') %></div>
          <%= f.select :fixed_version_id, (@issue.project.versions.collect{|c| [c.name, c.id]}),
                       {:label => '', :include_blank => true},
                       {:id => q.identifier, :onchange => q.onchange} %>
        <% elsif q.custom_field_id == -6 && @issue.safe_attribute?('priority_id') # priority %>
          <% q.description = l(:field_priority) unless q.description.present? %>
          <div class="wiki"><%= textilizable q.description + (@issue.required_attribute?('priority_id') ||
            q.required ? ' *' : '') %></div>
          <%= f.select :priority_id, (@priorities.collect{|c| [c.name, c.id]}),
                       {:label => ''}, {:id => q.identifier, :onchange => q.onchange} %>
        <% elsif q.custom_field_id == -7 # parent_issue_id %>
          <% q.description = l(:field_parent_issue) unless q.description.present? %>
          <div class="wiki"><%= textilizable q.description + (@issue.required_attribute?('parent_issue_id') ||
            q.required ? ' *' : '') %></div>
          <%= f.number_field :parent_issue_id, :size => 80, :maxlength => 255, :label => '',
                           :id => q.identifier, :onchange => q.onchange %>
        <% elsif q.custom_field_id == -8 # start_date %>
          <% q.description = l(:field_start_date) unless q.description.present? %>
          <div class="wiki"><%= textilizable q.description + (@issue.required_attribute?('start_date') ||
            q.required ? ' *' : '') %></div>
          <%= f.date_field :start_date, :size => 10, :label => '',
                           :id => q.identifier, :onchange => q.onchange %>
        <% elsif q.custom_field_id == -9 # due_date %>
          <% q.description = l(:field_due_date) unless q.description.present? %>
          <div class="wiki"><%= textilizable q.description + (@issue.required_attribute?('due_date') ||
            q.required ? ' *' : '') %></div>
          <%= f.date_field :due_date, :size => 10, :label => '',
                           :id => q.identifier, :onchange => q.onchange %>
        <% elsif q.custom_field_id == -10 # done_ratio %>
          <% q.description = l(:field_done_ratio) unless q.description.present? %>
          <div class="wiki"><%= textilizable q.description + (@issue.required_attribute?('done_ratio') ||
            q.required ? ' *' : '') %></div>
          <%= f.select :done_ratio, ((0..10).to_a.collect {|r| ["#{r*10} %", r*10] }),
                       {:label => '', :include_blank => true},
                       {:id => q.identifier, :onchange => q.onchange} %>
        <% elsif (@issue.safe_attribute? 'custom_field_values') && q.custom_field.present? %>
          <% id = q.identifier.present? ? q.identifier : custom_field_tag_id(:issue, q.custom_field) %>
          <% values[q.custom_field_id].custom_field.is_required |= q.required %>
          <% values[q.custom_field_id].custom_field.name = q.description if q.description.present? %>
          <div class="wiki"><%= textilizable values[q.custom_field_id].custom_field.name +
            (values[q.custom_field_id].custom_field.is_required ? ' *' : '') %></div>
          <%= custom_field_tag(:issue, values[q.custom_field_id]).
            gsub(/ id="(.+?)"/, ' id="' + id + '" onchange="' + q.onchange + '"' ).html_safe %>
          <%= wikitoolbar_for id if q.custom_field.present? && q.custom_field.full_text_formatting? %>
        <% end %>
      <% elsif (q.custom_field_id.nil?) %>
        <div class="wiki"><%= textilizable q.description + (q.required ? ' *' : '') %></div>
        <% if q.possible_values.present? %>
          <%= select_tag '',
                options_for_select(q.possible_values.insert(0, q.required ? "--- #{l(:actionview_instancetag_blank_option)} ---" : ''), @webform_questions[q.id]),
                :id => q.identifier, :onchange => q.onchange, :name => "webform_questions[#{q.id}]" %>
        <% else %>
          <%= text_area_tag '', @webform_questions[q.id], :id => q.identifier, :onchange => q.onchange, :cols => 60, :class => 'wiki-edit', :rows => 3,
                :label => '', :name => "webform_questions[#{q.id}]" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if @webform.can_add_attachments(User.current) && @webform.allow_attachments %>
    <div class="box filedroplistener">
      <p id="attachments_form"><label><%= l(:label_attachment_plural) %></label><%= render :partial => 'attachments/form', :locals => {:container => @issue} %></p>
    </div>
  <% end %>
  <%= submit_tag l(:button_save) %>
<% end %>
<%= javascript_tag do %>
<%= @webform.functions&.html_safe %>
$(document).ready(function() {<%= @webform.ready&.html_safe %>});
$('#new_issue').submit(function() {<%= @webform.submit&.html_safe %>});
<% end %>
